{% extends "layout.html" %}
{% block title %}Shelters{% endblock %}
{% block content %}
<div class='container'>

		<h1>Shelters</h1>
		<div class = 'flash'>
			{% with messages = get_flashed_messages() %}
   				{% if messages %}
      		 		<ul>
	    	 			{% for message in messages %}
		 					<li> <strong>{{ message }}</strong></li>
	    				{% endfor %}
      		 		</ul>
    			{% endif %}
			{% endwith %}
		</div>

		<a href="{{ url_for('shelterAdd') }}" class="btn btn-info" role="button">Create new Shelter.<a>

<hr>

 	<div class="row">
                
			<div class="col-md-4">

				<div class = 'nameAndPrice'>
					<p>{{shelter.id}} <a href="{{shelter.website}}">{{shelter.name}}</a></p>
					<p>{{shelter.address}}</p>
					<p>{{shelter.city}}, {{shelter.state}} {{shelter.zipCode}}</p>
					<p>{{shelter.email}}</p>
					<p>Current Capacity: {{shelter.current_capacity}}</p>
					<p>Max Capacity: {{shelter.max_capacity}}</p>
				</div>

				<div class = "editdeletepane">
					<a href='{{url_for('shelterEdit', shelter_id=shelter.id) }}' >Edit</a> 
					<a href='{{url_for('shelterDelete', shelter_id=shelter.id) }}' >Delete</a> 
				</div>
			</div>
	</div>
</div>	

{% endblock %}	